/*--------HTML---------------------------------------------------------------*/
main > * , header{
    border-bottom: 2px solid black;
}

/*--------HEADER------------------------------------------------------------*/
header{
    background-image: url(../images/skyrim-header.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 80vh;
    background-size: cover;
}

header img{
    width: 400px;
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%,-50%);
}

/*--------NAV-------------------------------------------------------------*/


/*--------MAIN----------------------------------------------------------*/


/*--------INTERMISSION---------*/
#intermission{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 35vh;
    text-align: center;
    position: relative;
}

#intermission .flex-container{
    flex-direction: column;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
}

#intermission .flex-item{
    padding: 25px;
    text-align: center;
    color: white;
}

#intermission .flex-container img{
    width: 30%;
    margin: auto;
}

#intermission h1{
    font-size: 2.1rem;
}

#intermission h2{
    font-size: 1.4rem;
}

/*--------REVIEW---------*/
#review{
    background-image: url(../images/skyrim-stance.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 90vh;
    width: 100vw;
    color: white;
    position: relative;
}

#review .flex-container{
    justify-content: space-around;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
}

#review .flex-item{
    font-family: 'Acme', sans-serif;
    width: 30%;
    padding: 100px;
    font-size: 2.8rem;
    text-shadow: 2px 2px black;
}

/*--------STORY---------*/
#story{
    background-image: url(../images/skyrim-story.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;
    width: 100vw;
}

#story-inner{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
    width: 100vw;
    height: 100%;
}

#story .flex-container{
   flex-direction: column;
   padding: 150px 0px 0px 80px;
}

#story .flex-item{
    width: 50vw;
    height: 10%;
}

#story h1{
    font-size: 2.5rem;
}

#story p{
    font-size: 1.4rem;
    padding: 70px 15px 15px 15px;
    line-height: 1.5;
}

/*--------FOOTER----------------------------------------------------------*/

/*--------MEDIA----------------------------------------------------------*/
@media only screen and (max-width: 1100px){
    #intermission .flex-container img{
        width: 40%;
        margin: auto;
    }
    
    #review .flex-item{
        width: 30%;
        padding: 80px;
        font-size: 2rem;
    }
    #story .flex-container{
        flex-direction: column;
        padding: 80px 0px 0px 50px;
    }
    #story .flex-item{
        width: 80vw;
        height: 10%;
    }
}
@media only screen and (max-width: 940px){
    
     #story h1{
        font-size: 2.3rem;
    }
    
    #story p{
        font-size: 1.4rem;
        padding: 70px 15px 15px 15px;
        line-height: 1.2;
    }
}
@media only screen and (max-width: 800px){
    #intermission .flex-container img{
        width: 50%;
    }
    
    #review .flex-item{
        font-size: 2rem;
        width: 100vw;
        padding: 50px;
    }
    #story h1{
       font-size: 2.3rem;
   }
   
   #story p{
       font-size: 1.4rem;
       padding: 70px 15px 15px 15px;
       line-height: 1.2;
   }
}
@media only screen and (max-width: 500px){
    header img{
        width: 60%;
    }
    #review .flex-item{
        padding: 30px;
    }
    #story .flex-container{
        flex-direction: column;
        padding: 60px 0px 0px 40px;
     }
    #story h1{
       font-size: 2.1rem;
    }
   
   #story p{
       font-size: 1.2rem;
       padding: 70px 15px 15px 15px;
       line-height: 1.2;
    }
}
@media only screen and (max-width: 380px){
    
    #intermission .flex-item{
        font-size: 1.7rem;
        padding: 15px;
    }
    #intermission .flex-container img{
        width: 60%;
    }
    #review .flex-item{
        font-size: 1.7rem;
        padding: 30px;
    }
    #story .flex-container{
        flex-direction: column;
        padding: 60px 0px 0px 20px;
        width: 100vw;
     }
    #story h1{
       font-size: 1.55rem;
    }
   
   #story p{
       font-size: 1.1rem;
       padding: 70px 15px 15px 15px;
       line-height: 1.2;
    }
}