/*--------HTML---------------------------------------------------------------*/
html::-webkit-scrollbar {
    display: none;
  }

body{
    color: white;
    font-family: 'Cormorant Garamond', serif;
    overflow-x: hidden;
    display: grid;
    grid-template-areas:"bovenbalk""inhoud""onderbalk";
}

/*------GRID------*/
header{grid-area:bovenbalk;}nav{grid-area:menu;}footer{grid-area:onderbalk;}main{grid-area:inhoud;}

/*--------HEADER------------------------------------------------------------*/


/*--------NAV-------------------------------------------------------------*/


nav{
    background:rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    padding: 15px;
    font-size: 1.3rem;
    display: inline;
}

nav span{
    display: inline;
    padding-right: 20px;
    border-right: 1px solid white;
}

nav ul{
    display: inline;
}

nav ul li{
    display: inline;
    margin: 20px;
}

nav ul li a{
    text-decoration: none;
    margin-bottom: 5px;
    color: white;
    margin: 0px 0px 0px 20px;
}

nav ul .current::before{
    background-image: url(../images/marker.png);
    background-size: 17px 25px;
    background-repeat: no-repeat;
    background-position-y: -5px;
    position: fixed;
    display: inline-block;
    width: 17px; 
    height: 25px;
    content:"";  
}

nav ul .current{
    text-shadow: 0 0 20px white; 
}

nav ul:hover .current,nav ul:hover .current::before{
    text-shadow: none;
    background-image: none;
}

nav ul li:hover::before{
    background-image: url(../images/marker.png) !important;
    background-size: 17px 25px;
    background-repeat: no-repeat;
    background-position-y: -5px;
    position: fixed;
    display: inline-block;
    width: 17px; 
    height: 25px;
    content:"";
}

nav ul li a:hover{
    text-shadow: 0 0 10px white; 
}
/*--------MAIN----------------------------------------------------------*/
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*--------FOOTER----------------------------------------------------------*/

footer{
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
}