/*--------HTML--------------------------------------------------------------*/


/*--------HEADER------------------------------------------------------------*/


/*--------NAV---------------------------------------------------------------*/
  
  
/*--------MAIN--------------------------------------------------------------*/
main{
    background-image: url(../images/Characters_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
main #character{
    width: 60vw;
    height: 50vh;
    position: relative;
    top: 35%; left: 40%;
    transform: translate(-50%,-50%);
}
main .character-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

main .character-info img{
    height: 65vh;
    border-radius: 5%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

main .character-info img:hover{
    opacity: 0.4;
    transition: 0.5s;
    cursor: pointer;
}
main .character-info .sound{
    background-image: url(../images/sound_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
}
main .character-infoText h1{
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 2px 2px black;
    margin-bottom: 50px;
}
main .character-infoText p {
    font-size: 2.5rem;
    text-shadow: 2px 2px black;
    margin: 15px;
}

/*----------CAROUSEL--------------*/
*::-webkit-scrollbar {
    width: 0;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
    outline : none;
  }
  
  .carousel {
    display: flex;
    flex-direction: column;
    width: 80vw;
  }

  .carousel__viewport {
    height: 67vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: hidden;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
  }

  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;  
  }
  
  .carousel__navigation {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: 22vh;
    bottom: 0;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }

  .carousel__navigation-item-outer{  
    position: relative;
    text-align: center;
    height: 180px;
    width: 115px;
  }

  .carousel__navigation-item img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    height: 150px;
    width: 95px;
    border-radius: 10%;
    transition: 0.3s;
  }

  .carousel__navigation-item img:hover {
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    height: 180px;
    width: 115px;
    border: 1px solid white;
  }
/*--------FOOTER----------------------------------------------------------*/

