/*--------HTML--------------------------------------------------------------*/


/*--------HEADER------------------------------------------------------------*/


/*--------NAV---------------------------------------------------------------*/
  
  
/*--------MAIN--------------------------------------------------------------*/
main{
    background-image: url(../images/Characters_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
main #character{
    width: 100vw;
    height: 50vh;
    position: relative;
    top: 35%; left: 40%;
    transform: translate(-50%,-50%);
}
main .character-info{
    width: 65%;
    display: flex;
}

main .character-info img{
    position: absolute;
    height: 65vh;
    border-radius: 5%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    top: 50%; bottom: 50%;
    transform: translate(0,-50%);
    right: 0;
}

main .character-info img:hover{
    opacity: 0.4;
    transition: 0.5s;
    cursor: pointer;
}
main .character-info .sound{
    background-image: url(../images/sound_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
}
main .character-infoText h1{
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 2px 2px black;
    margin-bottom: 50px;
}
main .character-infoText p {
    font-size: 2.5rem;
    text-shadow: 2px 2px black;
    margin: 15px;
}

/*----------CAROUSEL--------------*/
*::-webkit-scrollbar {
    width: 0;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
    outline : none;
  }

  .carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .carousel__viewport {
    width: 80vw;
    height: 67vh;
    margin: 0 auto;
    margin-top: 7%;
    display: flex;
    overflow: hidden;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
  }

  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;  
  }
  
  .carousel__navigation {
    display: flex;
    width: 100vw;
    margin-top: 5px;
    bottom: 0;
  }
  .carousel__navigation-list{
    overflow-y: hidden;
  }
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
    margin: 0 auto;
    white-space:nowrap;
  }

  .carousel__navigation-item-outer{  
    position: relative;
    text-align: center;
    height: 190px;
    width: 120px;
  }

  .carousel__navigation-item img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    height: 150px;
    width: 95px;
    border-radius: 10%;
    transition: 0.3s;
  }

  .carousel__navigation-item img:hover {
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    height: 180px;
    width: 115px;
    border: 1px solid white;
  }
/*--------FOOTER----------------------------------------------------------*/

/*--------MEDIA----------------------------------------------------------*/
@media only screen and (max-width: 1400px){
  main .character-info img{
    height: 55vh;
  }
  main .character-infoText p {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 1200px){
  main .character-info img{
    height: 50vh;
  }
  main .character-infoText h1 {
    font-size: 4rem;
  }
  main .character-infoText p {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1000px){
  main .character-info img{
    height: 50vh;
  }

  main .character-infoText p {
    font-size: 1.6rem;
  }
  main .character-info{
    width: 60%;
  }
}

@media only screen and (max-width: 900px){
  main .character-info img{
    height: 50vh;
  }

  main .character-infoText p {
    font-size: 1.5rem;
  }
  
}

@media only screen and (max-width: 770px){
  main .character-info{
    width: 50%;
  }
  main .character-info img{
    height: 40vh;
  }
  main .character-infoText h1{
    margin-bottom: 30px;
  }
  
  main .character-infoText p {
    font-size: 1.5rem;
    margin: 5px;
  }
  .carousel__viewport{
    width: 95vw;
  }
}

@media only screen and (max-width: 540px){
  main .character-info{
    width: 100%;
    margin-top: 50px;
  }
  main .character-info img{
    display: none;
  }
  main .character-infoText h1{
    margin-bottom: 10px;
  }
  
  main .character-infoText p {
    font-size: 1.5rem;
    margin: 15px;
  }
}

